@import url('http://fonts.googleapis.com/css?family=Quando|Alex+Brush');
@import url('polygraph.css');
body {
  font-family: 'Quando';
  font-size: 1.5em;
  text-shadow: 0px 1px 1px #fffefd;
}
h1, h2, h3 {
  font-family: 'Alex Brush';
  margin-bottom: 0.5em;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
ul {
  margin-left: 2em;
}
p, ul, ol {
  margin-bottom: 1em;
}
article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}